[[extend "layout.html"]]

<style>
  .auth-container {
    max-width: 30%;
    min-width: 400px;
    margin-top: 5%;
    border-radius: 10px;
    padding: 20px;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  a.button {
      margin-left: 10px;
  }

.contain-img {
  position: relative;
  color: white;
}

</style>
  <div class='contain-img'>
    <img src='./images/one.png'/>
    <div class="auth-container">
      [[=form]]
    </div>

  </div>
<br />
