[[extend 'layout.html']]
<div class="section">
    <div class="container">
      <div class='is-pulled-right'>
        <a class="button is-success" href="[[=URL('add_movie')]]">
           <span class="icon"><i class="fa fa-plus"></i></span>
           <span>Add New Movie</span>
        </a>
     </div>
      <h1 class="title">Feed</h1>
        
     <div class="columns is-mobile">
      [[for row in rows:]]

      <div class="container block">
        <div class="box has-background-white-ter box-shadow">
          <img src="[[=row.link]]" width="142">
            <p><B>[[=row.movie_title]]</B></p>
            <p>[[=row.watch_list_watched]]</p>
            <p>[[=row.watch_list_date]]</p>

            <a class="button is-pulled-right" href="[[=URL('edit_movie', row.id, signer=url_signer)]]">
              <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span>
            </a>

            <a class="button is-pulled-right" href="[[=URL('delete_movie', row.id, signer=url_signer)]]">
              <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
            </a>
            
            <br />
            <br />

        </div>
      [[pass]]

    </div>
  
      <table class="table is-striped is-fullwidth">
        <tr>
          <th>Movie Title</th>
          <th>Watched</th>
          <th>User</th>
        </tr>
        [[for row in rows:]]
        <tr>
          <td>[[=row.movie_title]]</td>
          <td>[[=row.watch_list_watched]]</td>
          <td>[[=row.watch_list_user_email]]</td>

        </tr>
        [[pass]]
      </table>
    </div>
  
  
  
  </div>


</div>