[[extend 'layout.html']]
<style>
  [v-cloak] {
    display: none;
  }

.rounded {
  border-radius: 50%;
}
</style>

<div class="section" id="vue-target" v-cloak>

  <div class="container">

    <div class="level">
      <div class="level-left">
        <h1 class="title is-1 level-item"><B>Feed</B></h1>
      </div>
      <div class='level-right'>
        <a class="button is-info level-item" href="[[=URL('add_movie')]]">
          <span class="icon"><i class="fa fa-plus"></i></span>
          <span>Add New Movie</span>
        </a>
      </div>
    </div>

    <!-- <div class="columns is-mobile"> -->
    [[for row in reversed(rows):]]
    <div class="container block">
      <!-- Start of ancestor tile -->
      <div class="box has-background-white-ter box-shadow tile is-ancestor is-vertical">

        <div class="tile is-parent"> <!-- Parent tile for the actual content -->

          <div class="tile is-child is-2"> <!-- Movie info tile (left side of listing) -->
            <img src="[[=row.link]]" width="142">

            <p><B>[[=row.movie_title]]</B></p>
            <!-- Tooltip -->
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <button class="button is-light" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <span class="icon is-small">
                    <i class='fa fa-exclamation-circle'></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <p><B>[[=row.movie_title]]</B></p>
                    <p><B>Rated: </B>[[=row.rating]]</p>
                    <p><B>Released: </B>[[=row.releasedate]]</p>
                    <p><B>Runtime:</B> [[=row.runtime]]</p>
                    <p><B>Genre: </B>[[=row.genre]]</p>
                    <p>[[=row.plot]]</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of tooltip -->

            <div class="block">
              <p>[[if row.watch_list_watched:]]Seen: [[=row.watch_list_date]][[else:]]Not Seen[[pass]]</p>
<!--            <span @mouseout="stars_out(img._idx)">
              <span @mouseover="stars_over(img._idx, star_idx)"
                    @click="set_stars(img._idx, star_idx)"
                    v-for="star_idx in [1, 2, 3, 4, 5]">
                <i v-if="star_idx <= img.num_stars_display" class="fa fa-star"></i>
                <i v-if="star_idx > img.num_stars_display" class="fa fa-star-o"></i>
              </span>
            </span> -->
            </div>
          </div> <!-- End of  movie info tile -->

          <div class="tile is-child"> <!-- Movie interactions tile (right side) -->
            <div class="block">
              [[if row.thumbnail:]]
              <img class="rounded" width="50" src="[[=row.thumbnail]]"> [[=row.watch_list_user_name]]</img>
              [[else:]]
                [[pass]]
              [[if row.watch_list_user_email == user_email:]]
              <h5 class="title is-5">My Review</h5>
              [[else:]]
              <h5 class="title is-5">[[=row.watch_list_user_name]]'s Review</h5>
              [[pass]]
              <p>[[if row.watch_list_review == None:]]No review posted[[else:]][[=row.watch_list_review]][[pass]]</p>
            </div>
            <div class="block">
              [[if len(row.comments) != 0:]]
              <h5 class="title is-5">[[=row.watch_list_user_name]]'s Follower Comments</h5>
              [[pass]]
              [[for comment in row.comments:]]
              <figure class="is-inline-block image is-32x32">
                <img src="[[=comment.thumbnail]]" class="is-rounded" @mouseover="get_comment([[=comment.id]], [[=row.id]])" @mouseout="hide_comment([[=row.id]])">
              </figure>
              [[pass]]
              <div class="block">
                <p id="[[=row.id]]"></p> <!-- For identifying the row in feed.js -->
              </div>
              <div class="field block" v-if="[[=row.id]] == editing_id && editing">
                <h5 class="title is-5">My Comment:</h5>
                <p class="control">
                  <input class="input" type="text" v-model="comment_box">
                </p>
              </div>
            </div>
          </div> <!-- End of movie interactions tile -->


        </div> <!-- End of parent content tile -->

        <div class="tile is-parent"> <!-- Parent tile for buttons and timestamp -->
          <div class="tile is-child">
            <div class="level">
              <div class="level-left"></div> <!-- Dummy left element -->
              <div class="level-right">
                <div v-if="editing && [[=row.id]] == editing_id">
                  <button class="button is-primary" @click="post_comment()">Post</button>
                  <button class="button is-danger" @click="cancel_comment()">Cancel</button>
                </div>
                <div v-else>
                  <button class="button is-warning" @click="edit_comment([[=row.id]])">Comment</button>

                [[if user_email == row.watch_list_user_email: ]]
                <br />
                <br />
                  <div class="level">
                    <div class="level-left"></div> <!-- Dummy left element -->
                    <div class="level-right">
                      <a class="button is-warning level-item" href="[[=URL('edit_movie', row.id, signer=url_signer)]]">
                        <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
                      </a>
                      <a class="button is-danger level-item" href="[[=URL('delete_movie', row.id, signer=url_signer)]]">
                        <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
    
                      </a>
                    </div>
                  </div>
                [[else: ]]
                  [[pass]]

                </div>
              </div>
            </div>
            <div class="level">
              <div class="level-left"></div> <!-- Dummy left element -->
              <div class="level-right">
				        <a class="level-item"><p>[[=row.watch_list_time_stamp]]</p></a>
              </div>
            </div>
          </div>
        </div> <!-- End of parent tile for buttons and timestamp -->

      </div> <!-- End of ancestor tile -->

    </div>
    [[pass]]

  </div>

</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let add_movie_url = "[[=XML(add_movie_url)]]";
  let get_rating_url = "[[=XML(get_rating_url)]]";
  let set_rating_url = "[[=XML(set_rating_url)]]";
  let get_comment_url = "[[=XML(get_comment_url)]]";
  let get_comments_url = "[[=XML(get_comments_url)]]";
  let post_comment_url = "[[=XML(post_comment_url)]]";
</script>
<script src="js/feed.js"></script>
[[end]]
