[[extend 'layout.html']]
<style>
  [v-cloak] {
    display: none;
  }

  .rounded {
    border-radius: 50%;
  }
</style>

<div class="section" id="vue-target" v-cloak>

  <div class="field has-addons is-pulled-right">
    <p class="control">
      <button class="button is-info" @click="set_view(0)" v-if="view_mode === 0">
        <span class="icon is-small">
          <i class="fa fa-list-alt"></i>
        </span>
      </button>
    </p>
    <p class="control">
      <button class="button is-light" @click="set_view(0)" v-if="view_mode === 1">
        <span class="icon is-small">
          <i class="fa fa-list-alt"></i>
        </span>
      </button>
    </p>
    <p class="control">
      <button class="button is-info" @click="set_view(1)" v-if="view_mode === 1">
        <span class="icon is-small">
          <i class="fa fa-table"></i>
        </span>
      </button>
    </p>
    <p class="control">
      <button class="button is-light" @click="set_view(1)" v-if="view_mode === 0">
        <span class="icon is-small">
          <i class="fa fa-table"></i>
        </span>
      </button>
    </p>
  </div>
  <div class="section">
    <h2>Search</h2>
    <div class="control block">
      <input class="input" type="text" v-model="query" @keyup="search">
    </div>
    <div v-for="r in results">{{r}}</div>
  </div>

  <div class="section">

    <div class="level">
      <div class="level-left">
        <h1 class='title is-1 level-item'><B>Your Movies</B></h1>
      </div>
      <div class="level-right">
        <a class="button is-info" href="[[=URL('add_movie')]]">
          <span class="icon"><i class="fa fa-plus"></i></span>
          <span>Add New Movie</span>
        </a>
      </div>
    </div>
    <div v-if="view_mode === 0">
      [[for row in reversed(rows):]]
      <div class="container block" v-if="view_mode === 0">
        <!-- Ancestor tile -->
        <div class="box has-background-white-ter box-shadow tile is-ancestor">
          <div class="tile is-vertical">

            <!-- Parent tile for the actual content-->
            <div class="tile is-parent">

              <!-- Movie info tile (left side of movie listing) -->
              <div class="tile is-child is-2">
                <img src="[[=row.link]]" width="142">

                <p><B>[[=row.movie_title]]</B></p>
                <!-- Tooltip -->
                <div class="dropdown is-hoverable">
                  <div class="dropdown-trigger">
                    <button class="button is-light" aria-haspopup="true" aria-controls="dropdown-menu4">
                      <span class="icon is-small">
                        <i class='fa fa-exclamation-circle'></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                    <div class="dropdown-content">
                      <div class="dropdown-item">
                        <p><B>[[=row.movie_title]]</B></p>
                        <p><B>Rated: </B>[[=row.rating]]</p>
                        <p><B>Released: </B>[[=row.releasedate]]</p>
                        <p><B>Runtime:</B> [[=row.runtime]]</p>
                        <p><B>Genre: </B>[[=row.genre]]</p>
                        <p>[[=row.plot]]</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of tooltip -->

                <div class="block">
                  <p>[[if row.watch_list_watched:]]Seen: [[=row.watch_list_date]][[else:]]Not Seen[[pass]]</p>


          <!-- Thumbs up -->
              [[if row.ratingLike == 1: ]]
              <a class='button is-light' href="[[=URL('set_rating', row.id, -1, signer=url_signer)]]" >
                <span>
                  <i class="fa fa-thumbs-up fa-lg is-size-4" style="color: #0099CC;"></i>
                </span>
              </a>
              [[elif row.ratingLike ==0 or row.ratingLike==-1 or row.ratingLike==None: ]]
              <a class='button is-light' href="[[=URL('set_rating', row.id, 1, signer=url_signer)]]">
                <span>
                  <i class="fa fa-thumbs-o-up fa-lg is-size-4"  style="color: #0099CC;"></i>
                </span>
              </a>
              [[pass]]
          <!-- Thumbs Down -->
                 [[if row.ratingLike == 0: ]]
                <a class='button is-light' href="[[=URL('set_rating', row.id, -1, signer=url_signer)]]" >
                    <span>
                    <i class="fa fa-thumbs-down fa-lg is-size-4" style="color: #0099CC;"></i>
                  </span>
                </a>
                [[elif row.ratingLike ==1 or row.ratingLike==-1 or row.ratingLike==None: ]]
                <a class='button is-light' href="[[=URL('set_rating', row.id, 0, signer=url_signer)]]">
                  <span>
                  <i class="fa fa-thumbs-o-down fa-lg is-size-4"  style="color: #0099CC;"></i>
                </span>
              </a>
                [[pass]]
     
                </div>

              </div>
              <!-- End of Movie info tile (left side of movie listing) -->

              <!-- Movie interactions tile (right side of movie listing) -->
              <div class="tile is-child">
                <div class="block">
                  [[if row.thumbnail:]]
                  <img class="rounded" width="50" src="[[=row.thumbnail]]"> [[=row.watch_list_user_name]]</img>
                  [[else:]]
                  [[pass]]
                  <h5 class="title is-5">My Review</h5>
                  <p>[[if row.watch_list_review == None:]]No review posted[[else:]][[=row.watch_list_review]][[pass]]
                  </p>
                </div>

                <div class="block">
                  [[if len(row.comments) != 0:]]
                  <h5 class="title is-5">Comments</h5>
                  [[pass]]

                  [[for comment in row.comments:]]
                  <figure class="is-inline-block image is-32x32">
                    <img src="[[=comment.thumbnail]]" class="is-rounded"
                      @mouseover="get_comment([[=comment.id]], [[=row.id]])" @mouseout="hide_comment([[=row.id]])">
                  </figure>
                  [[pass]]
                  <p id="[[=row.id]]"></p> <!-- For identifying the row -->
                </div>
              </div>
              <!-- End of movie interactions tile -->

            </div>
            <!-- End of Parent tile for movie content -->

            <!-- Parent tile for timestamp and edit delete-->
            <div class="tile is-parent">
              <div class="tile is-child">
                <div class="level">
                  <div class="level-left"></div> <!-- Dummy left element -->
                  <div class="level-right">
                    <a class="button is-warning level-item" href="[[=URL('edit_movie', row.id, signer=url_signer)]]">
                      <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
                      <span>Edit</span>
                    </a>
                    <a class="button is-danger level-item" href="[[=URL('delete_movie', row.id, signer=url_signer)]]">
                      <span class="icon"><i class="fa fa-fw fa-trash"></i></span>

                    </a>
                  </div>
                </div>
                <div class="level">
                  <div class="level-left"></div> <!-- Dummy left element -->
                  <div class="level-right">
                    <a class="level-item">
                      <p>[[=row.watch_list_time_stamp]]</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of parent tile for timestamp and edit delete-->

          </div>
        </div>
        <!-- End of Ancestor tile -->
      </div>

      [[pass]]
    </div>
  </div>

  <!-- Gallery View -->
 
  [[pass]]
</div>
</div>

</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let add_movie_url = "[[=XML(add_movie_url)]]";
  let get_rating_url = "[[=XML(get_rating_url)]]";
  let set_rating_url = "[[=XML(set_rating_url)]]";
  let search_url = "[[=XML(search_url)]]";
  let get_comments_url = "[[=XML(get_comments_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]