[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>


<div class="section" id="vue-target" v-cloak>

  <h1 class="title">Profile</h1>
    <h2 class="title is-6 is-spaced">My Info


        <table class="table is-fullwidth ">
            <tr>
                <th></th>
                <th>Profile Picture</th>
                <th>User Name </th>
                <th>User Email</th>
                <th></th>
            </tr>
            <tr v-for="r in userrows">
                <td>
                </td>
                <td>

                    <div v-if="!r.user_thumbnail">
                    <p class="control">
                      <div class="file is-info">
                        <label class="file-label">
                          <input class="file-input" type="file"
                                 accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                                 @change="upload_file($event, r._idx)">
                          <span class="file-cta">
                            <span class="file-label">
                              <span><i class="fa fa-upload"></i></span>
                            </span>
                          </span>
                        </label>
                      </div>
                    </p>
                  </div>

                  <img v-if="r.user_thumbnail" width="50" :src="r.user_thumbnail" />


                </td>
                <td>
                    {{r.user_name}}
                </td>
                <td>
                    {{r.user_email}}
                </td>
            </tr>
        </table>

    </h2>


      <h2>Add Friends
        <div class = "control block">
          <input class = "input" type="text" v-model="query" @keyup="search" placeholder="Search for Friends (by email)" style="width: 500px;"/>
        </div>
        <div v-for ="r in results">
            <button @click="add_following(r)" class="button is-success is-light is-hoverable" >
                    <i class="fa fa-plus fa-fw"></i> {{r.first_name + " " + r.last_name + ", " + r.email}}
            </button>

        </div>
      </h2>

    <br />

  </h3>
  </h2>

  <br />

    <h2 class="title is-6 is-spaced">Following [[=following_count]]
        <table class="table is-fullwidth ">
            <tr>
                <th></th>
                <th>Profile Picture</th>
                <th>User Name </th>
                <th>User Email</th>
                <th></th>
            </tr>
            <tr v-for="r in followingrows">
                <td>
                </td>
                <td>
                    <!-- Profile Pic -->
                    <img v-if="r.following_thumbnail" width="50" :src="r.following_thumbnail" />

                </td>
                <td>
                    <!-- Name -->
                   {{r.following_user_name}}
                </td>
                <td>
                    <!-- Email -->
                  {{r.following_user_email}}
                </td>
            </tr>
        </table>
    </h2>

    <br />


    <h2 class="title is-6 is-spaced">Followers [[=follower_count]] 
       <table class="table is-fullwidth ">
            <tr>
                <th></th>
                <th>Profile Picture</th>
                <th>User Name </th>
                <th>User Email</th>
                <th></th>
            </tr>
            <tr v-for="r in followerrows">
                <td>
                </td>
                <td>
                    <!-- Profile Pic -->
                    <img v-if="r.follower_thumbnail" width="50" :src="r.follower_thumbnail" />
                </td>
                <td>
                    <!-- Name -->
                    {{r.follower_user_name}}
                </td>
                <td>
                    <!-- Email -->
                    {{r.follower_user_name}}
                </td>
            </tr>

        </table>
    </h2>


    <!-- Sub nav tabs for later maybe

  <div class="tabs is-small">
    <ul>
    <li><a>My Info</a></li>
    <li><a>Following</a></li>
    <li><a>Followers</a></li>
  </ul>
  </div>

 -->



</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let load_user_url = "[[=XML(load_user_url)]]";
    let load_following_url = "[[=XML(load_following_url)]]";
    let load_follower_url = "[[=XML(load_follower_url)]]";
    let upload_thumbnail_url = "[[=XML(upload_thumbnail_url)]]";
    let search_url = "[[=XML(search_url)]]";
    let add_following_url = "[[=XML(add_following_url)]]";
</script>
<script src="js/profile.js"></script>
[[end]]